<div class="siteHeader">

  <!-- This section gets pushed to the left side-->
  <div class="siteHeader__section">
  </div>

  <!-- This section is just perfect in the middle-->
   <div class="siteHeader__section">
      <div class="account-balance"><%= render MyApp.Web.LayoutView, "userbalance.html", conn: @conn  %></div>
      <div class="account-functions-space" id="account-functions"><%= render MyApp.Web.LayoutView, "accountfunctions.html", conn: @conn  %></div>
  </div>

  <!-- This section gets pushed to the right side-->
  <div class="siteHeader__section">
    <div class="siteHeader__item"><%= render MyApp.Web.LayoutView, "metamasktext.html", conn: @conn  %></div>
  </div>

</div>
<div id="transaction-notifications" align="center"></div>
<div id="alert-notifications" class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
<div id="alert-warnings" class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>