<!-- Button trigger modal -->
<button type="button" id="withdraw-button" disabled class="btn btn-info btn-sm" data-toggle="modal" data-target="#withdrawModal">
  Withdraw
</button>

<!-- Modal -->
<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="withdrawModalLabel">Ether Withdrawal</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="withdraw-amount-input">Amount of Ether</label>
              <input class="form-control" id="withdraw-amount-input" type="number" required placeholder="0.3" min="0" step="0.0000001" >
          </div>
          <div class="form-group">
            <label for="withdraw-address-input">Ethereum Address to Receive the Funds</label>
              <input class="form-control" id="withdraw-address-input" type="text" spellcheck="false" required placeholder="0x...." >
          </div>    
          <ul> The destination address can be your MetaMask account.</ul> 
          <ul> A network fee of approximately $0.04 USD will be taken out of the amount withdrawn. </ul>
          <ul> Please doublecheck the destination address is correct, as there can be <b>no</b> recovering funds sent to the wrong address.</ul>
          <ul> A MetaMask prompt to confirm ownership over your account will appear upon clicking Withdraw. Click <em>Sign</em> to complete the withdrawal.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Cancel</button>
        <button type="submit" id="withdraw-button-submit" class="btn btn-info" data-dismiss="modal">Withdraw</button>
      </div>
    </div>
  </div>
</div>