.siteHeader {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;
  /**
   * Make the container put as much space as possible
   * between its children, with the children at either
   * end laying flush against the container's edges.
   */
  justify-content: space-between;
  height: 60px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.63);
}

  .siteHeader__section {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;
    /**
     * Align the children in the center, along
     * the main axis. By default the children will
     * align along their top edges.
     */
    align-items: center;
  }
    .siteHeader__item {
      padding: 5px 15px;
      padding-top: 0px;
      font-size: 14px;
      text-align: center;
      
    }

    .siteHeaderButton {
      cursor: pointer;
      color: #2386AB;
    }

    #metamask-text {
      width: 100px;
    }

    .spinner {
      width: 50px;
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }
    
    .spinner > div {
      width: 10px;
      height: 10px;
      background-color: #04325E;
    
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    
    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    
    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    
    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }
    
    @keyframes sk-bouncedelay {
      0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }

    #transaction-notifications {
      padding: 1em;
      margin-bottom: 4px;
      margin-left: 3px;
    }

    #alert-notifications, #alert-warnings {
      text-align: center;
      width: 35%;
      margin-left: 1.25em;
      margin-top: -1em;
    }

    #eth-user-balance, #usd-user-balance {
      margin-right: 10px;
      color: #008000;
      cursor: pointer;
    }

